header{
  width: 50%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  vertical-align: middle;
  margin-bottom: 30px;
  border: 5px solid #618685;
  vertical-align: middle;
}

header > h1{
  color: #1a2233;
  text-align: center;
  font-size: 25px;
}

main{
  width: 80%;
  height: auto;
  /*background-color:  #39ac73;*/
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  padding-top: 20px;
  border: 5px solid #618685;
}

.information > h1 {
  color: #1a2233;
}

.information{
  /*background-color:  rgba(140, 217, 179, 0.5);*/
  width: 95%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 25px;
  color: #36486b;
}



li{
  margin-bottom: 25px;
}


